.list {
  list-style-type: decimal;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
  height: 80px;
  width: 120px;
}

.heading {
  font-size: 18px;
  margin: 0px;
}

.para {
  font-size: 12px;
  margin: 0px;
}
